<h1>Liste des livres</h1>


<form (submit)="addOrUpdateLivre()" [formGroup]="formLivre">
    <div class="mb-3 row">
        <label for="titre" class="col-sm-2 col-form-label">Titre</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="titre" formControlName="titre" [class.is-invalid]="formTitreCtrl.invalid"/>
            <div *ngIf="formTitreCtrl.hasError('required')" class="invalid-feedback">Le titre est obligatoire</div>
        </div>


    </div>

    <div class="mb-3 row">
        <label for="resume" class="col-sm-2 col-form-label">Résumé</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="resume" formControlName="resume" [class.is-invalid]="formResumeCtrl.invalid" />
            <div *ngIf="formResumeCtrl.hasError('required')" class="invalid-feedback">Le résumé est obligatoire</div>
        </div>

    </div>

    <div class="mb-3 row">
        <label for="annee" class="col-sm-2 col-form-label">Année</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="annee" formControlName="annee" [class.is-invalid]="formAnneeCtrl.invalid" />
            <div *ngIf="formAnneeCtrl.hasError('required')" class="invalid-feedback">L'année est obligatoire</div>
        </div>

    </div>

    <div class="mb-3 row">
        <label for="auteur" class="col-sm-2 col-form-label">Auteur</label>
        <div class="col-sm-10">
            <select name="auteur" id="auteur" formControlName="auteur" [class.is-invalid]="formAuteurCtrl.invalid" [compareWith]="compareAuteur">
              <option [ngValue]="null"> -- Selectionner un auteur --</option>
              <option *ngFor="let a of auteurs | async" [ngValue]="a">{{ a.nom }}</option>
            </select>
            <div *ngIf="formAuteurCtrl.hasError('required')" class="invalid-feedback">L'auteur est obligatoire</div>
        </div>

    </div>

    <div class="mb-3 row">
        <label for="editeur" class="col-sm-2 col-form-label">Éditeur</label>
        <div class="col-sm-10">
            <select name="editeur" id="editeur" formControlName="editeur" [class.is-invalid]="formEditeurCtrl.invalid" [compareWith]="compareEditeur">
              <option [ngValue]="null"> -- Selectionner un editeur --</option>
              <option *ngFor="let e of editeurs | async" [ngValue]="e">{{ e.nom }}</option>
            </select>
            <div *ngIf="formEditeurCtrl.hasError('required')" class="invalid-feedback">L'éditeur est obligatoire</div>
        </div>

    </div>

    <div class="mb-3 row">
        <label for="collection" class="col-sm-2 col-form-label">Collection</label>
        <div class="col-sm-10">
            <select name="collection" id="collection" formControlName="collection" [compareWith]="compareCollection">
              <option [ngValue]="null">-- Selectionner une collection --</option>
              <option *ngFor="let c of collections | async" [ngValue]="c">{{ c.nom }}</option>
            </select>
        </div>
    </div>

    <div>
        <input *ngIf="!editingLivre" [disabled]="formLivre.invalid" type="submit" class="btn btn-success" value="Ajouter" />
        <input *ngIf="editingLivre" [disabled]="formLivre.invalid" type="submit" class="btn btn-warning" value="Modifier" />
    </div>

</form>

<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Résumé</th>
            <th>Année</th>
            <th>Auteur</th>
            <th>Éditeur</th>
            <th>Collection</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let livre of livres$ | async">
            <td>{{ livre.id }}</td>
            <td>{{ livre.titre }}</td>
            <td>{{ livre.resume }}</td>
            <td>{{ livre.annee }}</td>
            <td>{{ livre.auteur.nom }}</td>
            <td>{{ livre.editeur.nom }}</td>
            <td>{{ livre.collection?.nom }}</td>
            <td>
              <button class="btn btn-warning" (click)="editerLivre(livre)">Modifier</button>
              <button class="btn btn-danger" (click)="deleteLivre(livre)">Supprimer</button>
            </td>
        </tr>
    </tbody>
</table>

