<h1>Liste des avis</h1>

<form (submit)="addAvis()" [formGroup]="formAvis">

    <!-- Note -->
        
    <div class="mb-3 row">
        <label for="note" class="col-sm-2 col-form-label">Note</label>
        
            <div class="col-sm-10" [class.is-invalid]="formNoteCtrl.invalid">

                <ul class="rating-list" *ngFor="let star of notes">
                    <li (click)="countStar(star)"
                        [ngClass]="{
                            'selected': (star <= formNoteCtrl.value),
                            'invalid': formNoteCtrl.hasError('min')}">
                    ☆
                    </li>
                </ul>

            </div>
            <!-- Not necessary with stars already red -->
            <!-- <div *ngIf="formNoteCtrl.hasError('min')" class="invalid-feedback">Une note est obligatoire</div> -->

    </div>

    <!-- Commentaire -->
    <div class="mb-3 row">
        <label for="commentaire" class="col-sm-2 col-form-label">Commentaire</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="commentaire" [class.is-invalid]="formCommentaireCtrl.hasError('required')"/>
            <div *ngIf="formCommentaireCtrl.hasError('required')" class="invalid-feedback">Un commentaire est obligatoire</div>
        </div>

    </div>

    <!-- Date -->
    <div class="mb-3 row">
        <label for="date" class="col-sm-2 col-form-label">Date</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" formControlName="date" [class.is-invalid]="formDateCtrl.invalid"/>
        
            <div *ngIf="formDateCtrl.hasError('required')" class="invalid-feedback">Une date est obligatoire</div>
        </div>
    </div>


    <!-- Livre -->
    <div class="mb-3 row">
        <label for="livre" class="col-sm-2 col-form-label">Livre</label>
        <div class="col-sm-10">
            <select name="livre" id="livre" [class.is-invalid]="formLivreCtrl.invalid">
            <option value=""> -- Selectionner un livre --</option>
            <option *ngFor="let l of livres | async" formControlName="avis.livre">{{ l.titre }}</option>
            </select>
        

        <div *ngIf="formLivreCtrl.hasError('required')" class="invalid-feedback">Un livre est obligatoire</div>
        </div>
    </div>


    <div style="margin-top: 2%;"> 
        <input [disabled]="formAvis.invalid" type="submit" class="btn btn-success" value="Ajouter" />
    </div>

</form>

<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Note</th>
            <th>Commentaire</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let avis of listeAvis$ | async">
            <td>{{ avis.id }}</td>
            <td>{{ avis.note }}</td>
            <td>{{ avis.commentaire }}</td>
            <td>{{ avis.date }}</td>
            <td>
                <button class="btn btn-danger" (click)="deleteAvis(avis)">Supprimer</button>
            </td>
        </tr>
    </tbody>
</table>